.registerPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #70E864;
    min-width: 100vw;
    min-height: 100vh;
}

.registerBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;
    width: 60vw;
    height: 83.4vh;
    border-radius: .75em;
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 1em;
    
}

.textInput{
    font-family: 'Roboto', sans-serif;
    font-size: 1.55em;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.textInput::placeholder{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.37);
}